{% extends 'base.html.twig' %}

{% block title %}Home - Restaurants Review{% endblock %}

{% block body %}
    <section id="hero">
        <h1>Welcome</h1>
        <p>Review all the restaurants in your town</p>
    </section>
{% endblock %}
